[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "sistec"]
	path = sistec
	url = https://github.com/r-ifpe/sistec
	shallow = true
	registered = true
